.rodape-card {
    color: #4d7ea8;
    height: 35px;
}

.btn-detalhes {
    background-color: #4d7ea8 !important;
    color: #fff !important;
}

.btn-detalhes:hover {
    background-color: #abc3d8 !important;
    color: #fff !important;
}

.card-text {
    max-height: 70px;
    min-height: 70px;
    overflow: hidden;
}

.img-cartao {
    max-height: 150px;
    min-height: 150px;
    min-width: 100%;
}
