.form-login {
    max-width: 35%;
}

.btn-cadastro {
    background-color: #4d7ea8 !important;
    color: #fff !important;
}

.btn-cadastro:hover {
    background-color: #abc3d8 !important;
    color: #fff !important;
}
